<mat-nav-list>
    <ul class="navigation-items">
      <li>
        <a mat-list-item routerLink="/" (click)="onSidenavClose()">
          <mat-icon>home</mat-icon> <span class="nav-caption">Home</span>
      </a>
      </li>
      <li>
        <a mat-list-item routerLink="/exercises" (click)="onSidenavClose()">
          <mat-icon>rowing icon</mat-icon> <span class="nav-caption">Exercises</span>
      </a>
      </li>
      <li>
        <a mat-list-item routerLink="/idk1" (click)="onSidenavClose()">
          <mat-icon>supervisor_account</mat-icon><span class="nav-caption">Idk1</span>
      </a>
      </li>
      <li>
        <a mat-list-item routerLink="/idk2" (click)="onSidenavClose()">
          <mat-icon>supervisor_account</mat-icon><span class="nav-caption">Idk2</span>
        </a>
      </li>
  
      <li>
        <a mat-list-item routerLink="/login" (click)="onSidenavClose()">
          <mat-icon>login</mat-icon><span class="nav-caption">Login</span>
        </a>
      </li>
  
      <li>
        <a mat-list-item routerLink="/" (click)="onSidenavClose()">
          <mat-icon>logout</mat-icon><span class="nav-caption">Logout</span>
        </a>
      </li>
    </ul>
  </mat-nav-list>