table {
    width: 100%;
  }
  
  .mat-form-field {
    font-size: 14px;
    width: 100%;
  }
  
  .small-preview {
    margin-top: 3%;
    width: 60px;
    height: 45px;
  }

  .large-preview {
    margin-top: 3%;
    width: 600px;
    height: 450px;
  }

  ul {
    list-style-type: none;
  }

  .editExercise {
    background-color: #FF9800;
    margin-left: 2%;
  }

  .deleteExercise {
    background-color: #F44336;
    margin-left: 2%;
  }

  .mat-column-image {
    word-wrap: break-word !important;
    white-space: unset !important;
    flex: 0 0 15% !important;
    width: 15% !important;
    overflow-wrap: break-word;
    word-wrap: break-word;  
    word-break: break-word;  
  }

  .mat-column-name {
    word-wrap: break-word !important;
    white-space: unset !important;
    flex: 0 0 20% !important;
    width: 20% !important;
    overflow-wrap: break-word;
    word-wrap: break-word;  
    word-break: break-word;
  }

  .mat-column-category {
    word-wrap: break-word !important;
    white-space: unset !important;
    flex: 0 0 15% !important;
    width: 15% !important;
    overflow-wrap: break-word;
    word-wrap: break-word;  
    word-break: break-word;
  }

  .mat-column-numberOfSets {
    word-wrap: break-word !important;
    white-space: unset !important;
    flex: 0 0 10% !important;
    width: 10% !important;
    overflow-wrap: break-word;
    word-wrap: break-word;  
    word-break: break-word;
  }

  .mat-column-numberOfReps {
    word-wrap: break-word !important;
    white-space: unset !important;
    flex: 0 0 15% !important;
    width: 15% !important;
    overflow-wrap: break-word;
    word-wrap: break-word;  
    word-break: break-word;
  }

  .mat-column-primaryMuscles {
    word-wrap: break-word !important;
    white-space: unset !important;
    flex: 0 0 25% !important;
    width: 25% !important;
    overflow-wrap: break-word;
    word-wrap: break-word;  
    word-break: break-word;
  }
  
  .element-description {
    width: 90%;
    padding: 16px;
  }

  .element-detail {
    overflow: hidden;
    display: flex;
  }

  .image-container {
    padding-right: 6%;
  }

  tr.element-row:not(.expanded-row):hover {
    background: #7B1EA2;
  }
  
  tr.element-row:not(.expanded-row):active {
    background: #efefef;
  }
  
  .element-row td {
    border-bottom-width: 0;
  }

  tr.detail-row {
    height: 0;
  }