.mat-dialog-content {
    overflow-y: hidden !important;
  }

  .deleteExercise {
    margin-left: 2%;
    background-color: #F44336;
    max-height: none;
  }

  .mat-dialog-actions {
    display: flex;
    justify-content: flex-end;
  }